@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box; 
}

:root{
    --cor-branco-seccess: #ffffff ;
    --cor-vinho-seccess:  #8E2424;
    --text-color-cinza: #667085;
}

body{
    background: #FFFFFF; 
    width: 100%;
    height: 100vh;
    
}

/* nav */

.navbar {
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    padding: 3rem 0rem;

}

.cabecalho-logo{
    display: flex;
    align-items: center;
    padding-left: 9rem;
}

.texto-lado-logo{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color:  #3A404E;
}

.menu{
    font-family: 'Inter', sans-serif;
    display: flex;
    padding: 1em;
    font-weight: 500;
}

.menu-principal{
    
    display: flex;
    padding-left: 119px;
}

.menu-principal-item{
    display: flex;
    padding-left: 40px;
   
}

.menu a {
    color: var(--text-color-cinza);
    text-decoration: none;
    margin-right: 1px;
  } 

  /* button */

.button-entrar{
    align-items: center;
    width: 53rem ;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}

.button-principal-entrar{
    font-family: 'Inter', sans-serif;
    color:  #667085;
    border: none;    
    padding-right:20px;
    font-size: 16px;
    background-color: var(--cor-branco-seccess);
    cursor:pointer;
}

.button-principal-cadastro{
    align-items: center;
    font-family: 'Inter', sans-serif;
    width: 112px;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color:  var(--cor-vinho-seccess);
    color: #FFFFFF;
    cursor:pointer;
    
}

/* sobre */

.cabecalho-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;

}

.sobrenos{
    color:#8E2424 ;
    font-size: 16px;
    padding-top: 30px;
    font-weight: 600;
    
}

.titulo-sobre{
    font-size: 46px;
    padding-top: 26px;
}

.paragrafo-sobre{
    text-align: center;
    display: flex;
    font-size: 20px;
    color:#667085;
    line-height: 30px;
    font-weight: 400;
    padding: 0 14em;
    padding-top: 36px;
}



/* projetos */

.projeto{
    display: flex;
    align-items: center;
    padding: 0 6em 6em;
    gap: 25px;
    
}

.projetos-titulo{
    margin: 0;
    font-size: 60px;
    color: #8E2424;
}

.projetos-sub{
    color: #101828;
    font-weight:500;
}

.projetos-paragrafo{
    color: #667085;
    font-weight: 400;
}

/* vagas de empregos */

.vagas{
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding: 6em  ;
}
.vagas-sobre{
    font-family: 'Inter', sans-serif;
    padding: 2em;
    color: #8E2424;
    font-size: 14px;
    font-weight: 500;
    background: #8E24240D;
    border-radius: 20em;
    padding: 0.5em 1em;
   
    
    
}
.vaga-sub-titulo{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 70px;
    color: #101828;
}
.vaga-paragrafo{
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #667085;
    padding: 0 0 2em;
}

/* funcoes para as vagas */

.jobs-corpo{
    padding: 0 0 96px  ;
    display: flex;
    flex-direction:column ;
    margin: 0;
    padding-left: 40em;
    
}
.jobs-design{
    padding: 0 0 32px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    
}
.trabalho{
    font-family: 'Inter', sans-serif;
    align-items: center;
    border-radius: 16px;
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    width: 700px;
    height: 130px;
    padding: 24px 24px 28px 24px;
    gap: 24px;
    
}

.jobs-funçao{
    padding: 0 0 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}
.jobs-sobre{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

/* opiniao sobre colaborador */

.depoimento{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;

}
.depoimento-colaboradores{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(196, 25, 25, 0.03);
    padding: 64px ;
    gap: 32px;
    border-radius: 16px;
    width: 100em;
    height: 470px;
}
.depoimento-sobre{
    color: #8E2424;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.depoimento-resposta{
    display: flex;
    color: #101828;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    width: 1088px;
    height: 88px;
    text-align: center;
}
fieldset{
    border: 0;
}

/*  adicionar email para acompanhamento */

footer{
    background: #F9FAFB;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}
.aviso-por-email{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aviso-subtitulo{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #101828;
}
.aviso-paragrafo{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #667085;
}
.aviso-email{
    width: 360px;
    height: 48px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}
::placeholder{
    padding-left: 16px;
}
.aviso-email-cadastro{
    display: flex;
    gap: 16px;
    cursor: pointer;
}
.aviso-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    width: 116px;
    height: 48px;
    background-color:  var(--cor-vinho-seccess);
    color:#FFFFFF ;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.aviso-reservados{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #667085;
}



    
